
.messages{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 15px;
  margin: 100px;
}

.messages .userMsg{
  clear: both;
  background-color: #181818;
  padding: 7px;
  border-radius: 12px;
  align-self: flex-end;
  margin-top: 15px;
   
}

.messages .responseMsg{
  
  background-color: #181818;
  padding: 15px;
  border-radius: 30px;
  max-width: 100vw;
  align-self: flex-start;
  min-width: 20vw;
  margin-top: 15px;
}
